*{
    margin: 0;
    padding: 0;
    background-size: cover;
}
body
{
    background-image: url('../../Image/night.jpg');
    /* background-size: cover; */
}
main{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: center;
    animation: fond 8s linear infinite;
}
@keyframes fond
{

    0%
    {
        background-color: hsla(197, 71%, 73%, 0);
    }
    25%
    {
        background-color: hsla(197, 71%, 73%, 0);

    }
    50%
    {
        background-color: hsla(197, 71%, 73%, 1);
    }
    75%
    {
        background-color: hsla(197, 71%, 73%, 1);
    }
    100%
    {
        background-color: hsla(197, 71%, 73%, 0.0);
    }

}
img
{
    max-width: 900px;
    max-height: 900px;
    margin:1em;
    border:solid red
}
input
{
    border-radius: 1em;
    font-size:  2em;
    padding: 0.5em;
    margin: 1em;
    text-align: center;
    transition: all 0.5s linear;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: lightseagreen;
    box-shadow: -0.5em 0.5em 0.5em;
}
input:hover
 {
    border-radius: 0.5em;
    background: darkcyan;
    color:white; 
 }
 .loader
 {
     animation: rotate 8s linear running infinite;
 }
 @keyframes rotate
 {
     form {
         transform: rotate(0deg);
     }
     to
     {
         transform: rotate(1turn);
     }
 }
 .Binput
 {
     display: flex;
     flex-flow: column wrap;
 }
 .loader2
 {
     animation: rotate2 4s linear running infinite;
     transition: all 4s linear;
 }
 .loader3
 {
     animation: rotate2 4s linear running infinite;
     animation-direction: reverse;
     transition: all 4s linear;
 }
 @keyframes rotate2
 {
    form {
        transform: rotate(0deg);
    }
    50%
    {
       opacity: 0;
    }
    to
    {
        transform: rotate(1turn);
    }
 }
 /* .loader2:hover,.loader3:hover
 {
     animation-play-state: paused;
 } */