*{
    margin: 0;
    padding: 0;
    background-size: cover;
}
body
{
    background-image: url('../../Image/night.jpg');
    min-height:100vh;
    
}
main{
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: center;
    animation: fond 10s linear infinite;
    height: 100vh;
}
@keyframes fond
{

    0%
    {
        background: linear-gradient(#89cfeb00, #89cfeb00);
    }
    25%
    {
        background: linear-gradient(#89cfebe6, #89cfeb00);
    }
    50%
    {
        background: linear-gradient(#89cfebe6, #89cfebe6);
    }
    75%
    {
        background: linear-gradient(#89cfeb00 , #89cfebe6);
    }
    100%
    {
        background: linear-gradient(#89cfeb00, #89cfeb00);
    }

}
img:not(.ship)
{
    max-width: 700px;
    max-height: 700px;
    margin:1em;
}
input
{
    border-radius: 1em;
    font-size:  2em;
    padding: 0.5em;
    margin: 1em;
    text-align: center;
    transition: all 0.5s linear;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: lightseagreen;
    box-shadow: -0.5em 0.5em 0.5em;
}
input:hover
 {
    border-radius: 0.5em;
    background: darkcyan;
    color:white;
    
 }

 .loader
 {
     animation: rotate 8s linear running infinite;
 }
 @keyframes rotate
 {
     form {
         transform: rotate(0deg);
     }
     to
     {
         transform: rotate(1turn);
     }
 }
 .Binput
 {
     display: flex;
     flex-flow: column wrap;
 }
 .loader2
 {
     animation: rotate2 8s linear running infinite;
     transition: all 8s linear;
 }
 .loader3
 {
     animation: rotate2 8s linear running infinite;
     animation-direction: reverse;
     transition: all 8s linear;
 }
 @keyframes rotate2
 {
    form {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(1turn);
    }
 }
 .ship
 {
    max-height: 0.1em;
    min-width: 100%;
 }

 .iship
 {
    height: 5em;
    animation: letgo 5s linear running infinite;
 }
 @keyframes letgo
 {
    from 
    { 
        opacity: 1;
        margin-left:-20%; 
    } 
    80%
    {
        opacity: 1;
    }
    to 
    {
        margin-left:95%;
        opacity: 0;
    }
 }
 /* .loader2:hover,.loader3:hover
 {
     animation-play-state: paused;
 } */